.select-news-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.select-news-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.news-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(33.333% - 20px); /* Üç sütun düzeni */
    display: flex;
    flex-direction: column;
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-item img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Görselin maksimum yüksekliğini ayarlayın */
    object-fit: cover;
}

.news-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.news-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.news-content p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.news-content .news-date {
    font-size: 0.9em;
    color: #999;
}

.edit-button {
    align-self: flex-start; /* Butonu sağa hizalar */
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
}

.edit-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.edit-button:active {
    background-color: #3e8e41;
    transform: translateY(0);
}
