.home {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.today-news-section {
  position: relative;
  border: 2px solid #444; /* Çerçeveyi daha belirgin yapmak için kalınlık artırıldı */
  padding: 20px;
  border-radius: 10px; /* Köşeleri biraz daha yuvarlak yapmak için */
  margin-bottom: 30px; /* Alt kısımdan ayırmak için boşluk */
  text-align: left; /* Çerçeve içeriğini sola hizalamak için */
  width: 100%; /* Bugün Ne Oldu? kutusunu küçültmek için genişlik ayarı */
  margin-left: auto;
  margin-right: auto;
}

.today-news-section h1 {
  position: absolute;
  top: -10px; /* Yazıyı çerçevenin içinde sol üst köşeye yerleştirmek için */
  left: 20px; /* Yazıyı çerçevenin içinde sol üst köşeye yerleştirmek için */
  background: white; /* Arka planı beyaz yaparak çerçeve içinde belirginlik sağlanır */
  padding: 0 10px;
  margin: 0;
  font-size: 24px; /* Yazı boyutunu ayarlamak için */
}

.today-news {
  display: flex;
  justify-content: space-between; /* Öğeleri yatayda yay */
  gap: 20px; /* Boşlukları artırmak için gap değeri artırıldı */
}

.normal-news-section {
  margin-top: 30px;
}

.normal-news-section h2 {
  text-align: left; /* Haberler başlığını sola hizala */
  
}

.news-list {
  display: flex;
  flex-wrap: wrap; /* Öğeleri saracak şekilde düzenle */
  justify-content: center; /* Öğeleri yatayda ortala */
  gap: 20px;
}

.news-item {
  border: 1px solid #ddd;
  padding: 20px; /* Haber öğelerinin iç boşluğunu artır */
  width: 300px; /* Haber öğelerinin genişliğini artır */
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.news-content {
  width: 100%; /* İçerik genişliği tam olsun */
}

.news-item h3 {
  margin: 0 0 5px; /* Başlık altındaki boşluk küçültüldü */
  font-size: 18px; /* Başlık boyutunu artır */
  color: #555; /* Başlık rengi */
}

.news-item p {
  margin: 0 0 5px;
  font-size: 16px; /* İçerik boyutunu artır */
  color: #777; /* İçerik rengi */
}

.news-date {
  color: #aaa; /* Tarih rengi */
  font-size: 14px; /* Tarih boyutunu artır */
  text-align: right; /* Tarihi sağa hizala */
}
